.header {
  width: 100%;
  max-width: 335px;

  margin: 26px auto 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.header__container {
  width: 88.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  background: url("../../icons/menu.svg") no-repeat 50%;
  width: 20px;
  height: 20px;
  margin-left: 9px;
  border: none;
}

.header__profile {
  width: 44px;
  height: 45px;
}

.header__avatar {
  border-radius: 50%;
  width: 100%;
}
